.list {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);

    list-style-type: none;
    text-decoration: none;
    cursor: pointer;

    background: linear-gradient(35deg, #494949, #313131);
    color: white;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    h4 {
      color: white;
      font-size: 0.8rem;
      padding: 0.5rem;
    }

    svg {
      font-size: 1.5rem;
      color: white;
    }

    &:hover {
      background: linear-gradient(to right, #f27121, #e94057);
      transform: scale(0.85);
    }
  }
}
