.form {
  margin: 2rem 15rem;

  .input-wrapper {
    width: 100%;
    position: relative;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;

    padding: 1rem 3rem;
    font-size: 1rem;
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
  }
}
